doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 2
    link(rel='stylesheet', href='css/d-02.css')
  body
    a(href='index.html') Home
    h1 Drill 2
    h2 Words with and even number of letters - red BG and uppercase
    h2 Words with and odd number of letters - green BG and lowercase
    input#text(type='text')
    button#uclc Uppercase / Lowercase
    #output

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/d-02.js')
