doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 5
    link(rel='stylesheet', href='css/d-05.css')
  body
    a(href='index.html') Home
    h1 Drill 5
    h2 Enter 1st and last values in range
    h2 Returns square of all even values
    input#numbers(type='text')
    button#square Even Squares
    #output

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/d-05.js')
