doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 6
    link(rel='stylesheet', href='css/d-06.css')
  body
    a(href='index.html') Home
    h1 Drill 6
    h2 Enter 1st and last values in range
    h2 Returns last 3 values
    input#numbers(type='text')
    button#operate Last Three
    #output

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/d-06.js')
