doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 7
    link(rel='stylesheet', href='css/d-07.css')
  body
    a(href='index.html') Home
    h1 Drill 7
    h2 Enter 1st and last values in range
    h2 Returns sum of 1st & last, 2nd & 2nd to last, etc.
    input#numbers(type='text')
    button#operate Mate Sum
    #output

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/d-07.js')
