doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 11
    link(rel='stylesheet', href='css/d-11.css')
  body
    #container
      a(href='index.html') Home
      h1 Drill 11
      h2 Drills are initially placed randomly
      h2 Click a div to select it
      h2 Arrow keys to move
      #big.selected
        #small

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/d-11.js')
