doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 12
    link(rel='stylesheet', href='css/d-12.css')
  body
    a(href='index.html') Home
    h1 Drill 12
    h2 Enter numbers separated by commas
    h2 Squares even numbers, cubes odd
    h2 BG color of blue for even numbers, red for odd
    input#input(type='text')
    button#operate GO!
    #output

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/d-12.js')
