doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 14
    link(rel='stylesheet', href='css/d-14.css')
  body
    #container
      #page-data
        a(href='index.html') Home
        h1 Drill 14
        h2 Rectangles are initially placed randomly
        h2 Click a rectangle to select it
        h2 Arrow keys to move
      button#create Add Rectangle

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/d-14.js')
