doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Drill 18
		link(rel='stylesheet', href='css/d-18.css')
	body
		a(href='index.html') Home
		h1 Auto-Update Stock Table
		input#symbols(type='text')
		button#get Update Companies
		table#quote
			thead
				tr
					th Symbol
					th Quote
			tbody

		script(src='js/vendor/jquery-2.1.0.js')
		script(src='js/source/d-18.js')
