doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drills
    link(rel='stylesheet', href='css/app.css')
  body
    h1 Drills
    a(href='d-01.html') d-01
    br
    a(href='d-02.html') d-02
    br
    a(href='d-03.html') d-03
    br
    a(href='d-04.html') d-04
    br
    a(href='d-05.html') d-05
    br
    a(href='d-06.html') d-06
    br
    a(href='d-07.html') d-07
    br
    a(href='d-08.html') d-08
    br
    a(href='d-09.html') d-09
    br
    a(href='d-10.html') d-10
    br
    a(href='d-11.html') d-11
    br
    a(href='d-12.html') d-12
    br
    a(href='d-13.html') d-13
    br
    a(href='d-14.html') d-14
    br
    a(href='d-15.html') d-15
    br
    a(href='d-16.html') d-16
    br
    a(href='d-17.html') d-17
    br
    a(href='d-18.html') d-18

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
