doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drills
    link(rel='stylesheet', href='css/app.css')
  body
    h1 Drills
    a(href='d-01.html') d-01
    br
    a(href='d-02.html') d-02
    br
    a(href='d-03.html') d-03

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
